<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <ul>
      <li><a href="/admin/">Admin Panel</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </body>
</html>
